:root {
  --pale-grey: #f5f6fa;
}
.App {
  width: 100rem;
  height: 89.625rem;
  padding: 9.313rem 3.75rem 7.688rem 6.25rem;
  background-color: var(--pale-grey);
}

.App-link {
  color: #61dafb;
}

table {
  margin: 0 auto;
  border: 1px dashed gray;
}

h4 {
  margin-bottom: 0.5em;
}

.filter-title {
  display: inline-block;
  margin-top: 0;
}

.filter-title::after {
  content: '\00a0\00a0';
}

.panel-bg {
  width: 87.5rem;
  height: 68.563rem;
  margin: 0 2.5rem 4.063rem 0;
  padding: 0 0 49.625rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: #fafafa;
}