.App {
  text-align: center;
  background-color: bisque;
  padding: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  margin: 0 auto;
  border: 1px dashed gray;
}

h4 {
  margin-bottom: 0.5em;
}